{% extends 'base.html' %}

{% block app_content %}

<h1>Hello, {{ current_user.username }}</h1>
<br>
<div class="container">


    <form action="" method="post" enctype=multipart/form-data>
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label>{{ form.song.label }} </label>
            {{ form.song(class_='form-control-file') }}<br>
            {% for error in form.song.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.submit(class_='btn btn-primary') }}
        </div>


    </form>
</div>

<br>
<hr>
{% for song in songs %}

<div>
    <div class="container">
    <p>
        Title: {{ song.title}}
        {% if song.artist %}
        - {{ song.artist }}
        {% endif %}
        
        
            <ul class="list-inline list-group-horizontal-lg">
                <li class="list-group-item"><a href="{{ url_for('play', file_url=song.url) }}">Play</a></li>
                <li class="list-group-item"><a href="{{ url_for('download',file_url=song.url, file_name=song.title) }}">
                        Download
                    </a>
                </li>
        
                
                <li class="list-group-item"><a href="{{ url_for('edit', file_url=song.url) }}">Edit</a></li>
                <li class="list-group-item"><a href="{{ url_for('delete', file_url=song.url) }}">Delete</a></li>
            </ul>
        
        </div>
    </p>

</div>

{% endfor %}

<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer songs
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Older songs <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>


{% endblock %}